<div class="customer-reset-password">
  <div class="container">
    <div class="customer-reset-password__header">
      <h1 class="customer-reset-password__title">{{ 'customer.reset_password.title' | t }}</h1>
      <p class="customer-reset-password__subtext">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
    </div>

    <div class="customer-reset-password__content">
      {% form 'reset_customer_password' %}
        {{ form.errors | default_errors }}

        <div class="customer-reset-password__fields">
          <div class="customer-reset-password__field">
            <label for="CustomerPassword" class="customer-reset-password__label">{{ 'customer.reset_password.password' | t }}</label>
            <input 
              type="password" 
              name="customer[password]" 
              id="CustomerPassword" 
              class="customer-reset-password__input"
              autocomplete="new-password"
            >
          </div>

          <div class="customer-reset-password__field">
            <label for="CustomerPasswordConfirmation" class="customer-reset-password__label">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input 
              type="password" 
              name="customer[password_confirmation]" 
              id="CustomerPasswordConfirmation" 
              class="customer-reset-password__input"
              autocomplete="new-password"
            >
          </div>

          <div class="customer-reset-password__submit">
            <button type="submit" class="button customer-reset-password__button">{{ 'customer.reset_password.submit' | t }}</button>
          </div>
        </div>
      {% endform %}
    </div>
  </div>
</div>
